body {
  font-family: Arial, sans-serif;
}

/* Banner */
.banner {
  
  background: linear-gradient(to right, #0d6efd, #0dcaf0);
  color: white;
  padding: 80px;
  text-align: center;
}

/* Cards */
.card {
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-5px);
}

/* Buttons */
.btn {
  border-radius: 8px;
}

/* Forms */
input, textarea {
  border-radius: 6px;
}
.carousel{
  width: 100%;
}